/*Colors*/
/*-------------------*/
$color-white:		#FFFFFF !default;
$color-black:		#000000 !default;
$color-fa:			#FAFAFB !default;
$color-f1:			#F1F1F5 !default;
$color-e2:			#E2E2EA !default;
$color-d5:			#D5D5DC !default;
$color-b5:			#B5B5BE !default;
$color-92:			#92929D !default;
$color-69:			#696974 !default;
$color-44:			#44444F !default;
$color-17:			#171725 !default;

$color-text: 		$color-black !default;
$color-primary: 	#2F87FC !default;

$post-tosca:		#AFE0D7 !default;
$post-purple:		#BEC9E5 !default;
$post-pink:			#E2BEB6 !default;
$post-gold:			#E4D5BA !default;

/*Fonts*/
/*-------------------*/
$font-primary:		'Poppins', sans-serif !default;
$font-secondary:	'Roboto', sans-serif !default;