.page-title {
	margin-bottom: 50px;
	font-size: 32px;

	@media (max-width: 767px) {
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 16px;
	}
}

/*writer page*/
/*--------------*/
.post-meta__heading {
	.post-ava img {
		width: 120px;
		height: 120px;
		margin-right: 24px;
	}

	.author-name {
		font-size: 24px;
		line-height: 24px;
		font-weight: 600;
	}

	.author-desc {
		font-size: 14px;
		margin-top: 8px;
		margin-bottom: 24px;
	}

	.socmed-links {
		margin-left: -14px;

		li {
			margin: 0 14px;
		}
	}

	@media (max-width: 767px) {
		.post-ava img {
			width: 60px;
			height: 60px;
			margin-right: 15px;
		}

		.author-name {
			font-size: 12px;
			line-height: 24px;
		}

		.author-desc {
			font-size: 10px;
			line-height: 16px;
			margin: 0 0 10px;
		}

		.socmed-links {
			margin-left: -7px;

			li {
				margin: 0 7px;
			}

			img, svg {
				max-width: 14px;
			}
		}
	}
}

.page-writer {
	padding-top: 76px;

	.post-meta__heading {
		align-items: flex-start;
		margin-bottom: 64px;
	}

	@media (max-width: 767px) {
		padding-top: 20px;

		.post-meta__heading {
			margin-bottom: 40px;
			align-items: center;
		}
	}
}

.articles-title {
	font-family: $font-primary;
	font-size: 20px;
	line-height: 24px;
	font-weight: 600;
	border-bottom: 1px solid $color-e2;
	padding-bottom: 20px;
	margin-bottom: 40px;

	@media (max-width: 767px) {
		font-size: 16px;
		padding-bottom: 10px;
	}
}

/*category page*/
/*--------------*/
.page-category {
	padding-bottom: 60px;

	.section-heading {
		margin-bottom: 80px;
	}

	.section {
		padding-bottom: 20px;
		border-bottom: 0;
	}

	@media (min-width: 768px) {
		.pagination {
			margin-top: 30px;
		}

		.section-post > * {
			&:nth-child(4):before,
			&:nth-child(7):before {
				content: '';
				width: 130px;
				height: 130px;
				background-image: url('../icons/var_dots.png');
				position: absolute;
				left: -75px;
				z-index: -1;
			}

			&:nth-child(4):before {
				bottom: -15px;
			}

			&:nth-child(7) {
				&:before {
					bottom: 10px;
				}

				&:after {
					content: '';
					width: 158px;
					height: 158px;
					background-image: url('../icons/var_ellipse.png');
					position: absolute;
					bottom: -55px;
					left: -25px;
					z-index: -1;
					background-size: contain;
				}
			}
		}
	}

	@media (max-width: 767px) {
		margin-bottom: 0;

		.section {
			padding: 30px 0 0;

			&-heading {
				text-align: left;
				margin-bottom: 30px;
			}
		}

		.section-post > *:last-child:before {
			content: '';
			width: 100px;
			height: 100px;
			background-image: url('../icons/var_dots.png');
			position: absolute;
			left: 0;
			bottom: -18px;
			z-index: -1;
		}
	}
}

/*single page*/
/*--------------*/
.page-single {
	margin-bottom: 30px;

	.section {
		border: 0;

		&-heading {
			border-bottom: 1px solid $color-e2;
			margin-bottom: 24px;
		}

		&-title {
			margin-bottom: 34px;

			span {
				font-weight: 400;
			}
		}

		&-post {
			margin-top: 60px;
		}
	}

	h2 {font-size: 18px;}

	p {
		font-size: 14px;
		line-height: 32px;
		color: $color-17;

		& + h2 {
			margin-top: 40px;
		}
	}

	@media (max-width: 767px) {
		margin-bottom: 70px;

		.section {
			padding: 30px 0 0;
			
			&-heading {
				margin-bottom: 40px;
			}

			&-title {
				margin-bottom: 20px;
				font-size: 16px;
			}

			&-post {
				margin-top: 40px;
			}
		}

		h2 {font-size: 16px;}
	}
}

/*404 page*/
/*--------------*/
.page-404 {
	&__content {
		margin-top: 100px;
		margin-bottom: 40px;

		img {
			margin-bottom: 40px;
		}
	}

	p {
		font-size: 16px;
		margin-top: -30px;
	}

	@media (max-width: 767px) {
		margin-bottom: 100px;

		.section-heading {
			margin-bottom: 20px;
		}

		&__content {
			margin: 0;

			img {
				max-height: 154px;
				margin-bottom: 0;
			}
		}

		p {
			font-size: 12px;
			line-height: 24px;
			margin-top: -10px;
		}
	}
}