.ez-toc {
	&-container {
		border: 1px solid $color-primary;
		border-radius: 10px;
		padding: 19px 20px;
		display: inline-block;
		margin-bottom: 40px;
		min-width: 352px;

		nav {
			margin-top: 10px;
			display: none;
		}

		&.open .ez-toc-title-toggle {
			transform: rotate(180deg);
		}

		@media (max-width: 767px) {
			min-width: 100px;
			width: 100%;
			margin-bottom: 30px;
		}
	}

	&-title {
		font-weight: 500;
		color: $color-17;
		margin-bottom: 0;

		&-toggle {
			width: 30px;
			text-align: center;
			cursor: pointer;
		}

		&-container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			line-height: 24px;

			.ez-toc-title {margin: 0;}

			svg path {
				fill: $color-primary;
			}
		}
	}

	&-list {
		padding-left: 0;
		font-size: 14px;
		line-height: 32px;
		color: $color-44;
		margin: 0;
		list-style-type: none;

		@media (max-width: 767px) {
			font-size: 12px;
			line-height: 28px;
		}
	}
}